.screen {
    width: 500px;
    height: 300px;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.button{
    border: none;
    font-size: 20px;
    width: 60px ;
    height: 30px;
    background: lightgreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    background: rgba(0, 176, 0, 0.56);
    transition: 0.3s    ease;
}
.waiting_screen{
    background: red !important;
}